body {
  min-width: 600px;
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-weight: 700;
}

img {
  width: 400px;
  height: 250px;
}

header {
  background-color: #b1b1af;
  display: flex;
  justify-content: space-between;
}

header button {
  margin: 5px 20px;
  padding: 5px 30px;
  border-radius: 20px;
  border: none;
  transition: 0.25s;
}

header button:hover {
  box-shadow: 5px 5px 5px rgb(80, 80, 80, 0.5);
  background-color: rgba(240, 240, 240, 0.8);
  cursor: pointer;
}

nav {
  background-color: black;
  color: blueviolet;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;

}

nav li {
  list-style-type: none;
  margin: 10px;
}

nav a {
  text-decoration: none;
  color: black;
  margin: 5px;
  padding: 5px 20px;
  background-color: #8288a8;
  border-radius: 5px;
  transition: 0.25s;
}

nav a:hover {
  background-color: #b4bcee;
  box-shadow: 5px 5px 5px rgba(214, 214, 214, 0.616);
}

nav input {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.section1 {
  background-color: #C5DAE1;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
}

.section1 h4 {
  margin: 10px;
}

.section1 button {
  margin: 10px;
  padding: 5px 25px;
  border-radius: 15px;
  border: none;
  color: #5E8A9E;
  background-color: black;
  transition: 0.25s;
  border: 2px solid black;
}

.section1 button:hover {
  cursor: pointer;
  color: black;
  background-color: #5E8A9E;
  box-shadow: 5px 5px 5px rgb(80, 80, 80, 0.5);
}

.img img{
  position: absolute;
}

.img img:nth-child(1) {
  top: 100px;
  right: 250px;

}

.img img:nth-child(2) {
  top: 150px;
  right: 150px;
  z-index: 0;
}

.img img:nth-child(3) {
  top: 200px;
  right: 50px;
}

.section2 {
  background-color: rgb(178, 180, 182);
}

.divImg {
  padding: 100px;
  display: flex;
  justify-content: space-around;
  
}

.divImg img {
  width: 250px;
  height: 150px;
}

.divImg p {
  padding: 10px;
  width: 250px;
  text-align: center;

}

.divImg img + p {
  background-color: black;
  color: azure;
}